<div class="container">
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>Call bomber </h1>
        <p>Bomb phone number with phone calls</p>
        <span>
          <p>Login with social media</p>
          <a href="#">
            <fa-icon [icon]="faFacebook"></fa-icon> Login with Facebook
          </a>
          <a href="#">
            <fa-icon [icon]="faTwitter"></fa-icon> Login with Twitter
          </a>
        </span>
      </div>
    </div>
    <div class="right">
      <h5>Login</h5>
      <p>Don't have an account? <a [routerLink]="['/register']">Create account</a> it takes less than a minute</p>
      <div class="inputs">
        <input type="text" placeholder="Username" (keyup)="username = $event.target.value">
        <br>
        <input type="password" placeholder="Password" (keyup)="password = $event.target.value">
      </div>
      <br><br>
      <div class="remember-me--forget-password">
        <label [classList]="rememberMe ? 'checked' : undefined">
          <input type="checkbox" name="item" checked="rememberMe" (change)="rememberMe = !rememberMe" />
          <span class="text-checkbox">Remember me</span>
        </label>
        <button (click)="onClickLogin()">Login</button>
      </div>
    </div>

  </div>
</div>